<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-12 text-center">
      <label for="username">Username: </label>
      <input [(ngModel)] = 'Username' type="text" placeholder = 'Username' id = 'username'>
      {{Username}}
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-12 text-center">
      <label for="password">Password: </label>
      <input [(ngModel)] = 'Password' type="password" placeholder = 'Password' id = 'password'>
      {{Password}}
    </div>
  </div>
</div>
