.div1  {
    border: 1px solid black;
    
}

h1 {
    margin-left: 30%;
}
.div2  {
    
    border: 1px solid black;
    display: flex;
    
}

table{
    margin-left: 40%;
    padding: 2px;
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

tr{
    padding: 20px;
    border: 1px solid black;
}